<div id="<%= dom_id investment %>">
  <p>
    <strong>Title:</strong>
    <%= investment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= investment.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= investment.amount %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= investment.image_url %>
  </p>

</div>
