<nav class="navbar navbar-expand-lg bg-body-tertiary top-nav fixed-top">
  <div class="container-fluid">
    <%= link_to "Agric_Invest", root_path, class: "navbar-brand nav-logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center nav-items">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active", style: "margin-right: 52px;" %>
        </li>
        <li class="nav-item">
          <%= link_to "Investments", investments_path, class: "nav-link", style: "margin-right: 52px;" %>
        </li>
        <li class="nav-item">
          <%= link_to "Investors", transactions_path, class: "nav-link", style: "margin-right: 52px;" %>
        </li>
        
        
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
        
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary nav-link" do %>
            <i class="fas fa-sign-out"></i> <!-- Font Awesome icon for Log out -->
          <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-plus"></i> <!-- Font Awesome icon for Sign up -->
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt"></i> <!-- Font Awesome icon for Log in -->
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>