<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Your Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, "Your Email Address" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :number, "Your Phone Number (format - 254...)" %>
    <%= form.text_field :number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :investment_id, "Select Investment" %>
    <%= form.collection_select :investment_id, @investments, :id, :title, { prompt: "Select an Investment" }, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.submit "Initiate now via Chimoney", class: "btn btn-outline-success" %>
  </div>
<% end %>
