<div id="<%= dom_id transaction %>">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= transaction.email %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= transaction.number %>
  </p>

  <p>
    <strong>Investment:</strong>
    <%= transaction.investment_id %>
  </p>

</div>
